<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dueños</title>
</head>
<body>
	<h1>Dueños</h1>
	<p th:text="Dueños">...</p>
	table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellidos</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">.</td>
        <td th:text="${owner.firstName}">..</td>
        <td th:text="${owner.lastName}">...</td>
    </tr>
    </tbody>
	
</body>
</html>